@model LingvaApp.Models.ApplicationUser
@{ 
    Layout = null;
    string bannersURL = "../../css/files/UserResources/";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="../../css/profile.css">
    @await Html.PartialAsync("_CssHeaderPartial")
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    @if (Model is null)
    {
        <h1>Такой страницы не найдено</h1>
    }
    else
    {
        @if (User.Identity.Name == Model.UserName)
        {
            <div class="user_sources owner">
                <label for="banner"><img src="~/files/UserResources/@Model.BannerURL" alt="banner" class="top_banner top_img"></label>
                <input type="file" id="banner" name="name" value="" class="banner_input img_input" onchange="onBannerUpload(this.value)"/>

                <label for="avatar">
                    <img src="/files/UserResources/@Model.AvatarURL" alt="logo" class="top_avatar top_img">
                    <img src="/files/System/camera.png" alt="cam" class="hover_image">
                </label>
                <input type="file" id="avatar" name="name" value="" class="avatar_input img_input" onchange="onAvatarUpload(this.value)"/>
            </div>

            <div class="container">
                <div class="user_block block_about">
                    <div class="block_content">
                        <h1>О %user%</h1>
                        <div class="separator"></div>
                        <h2 class="user_property">Страна: @Model.Country</h2>
                        <h2 class="user_property">Город: @Model.City</h2>
                        <h2 class="user_property">Учит языки: @Model.LearningLanguages</h2>
                        <h2 class="user_property">Носитель языков: @Model.NativeLanguages</h2>
                        <h2 class="user_property">Возраст: @Model.Age</h2>
                        <h2 class="user_property">О себе:</h2>
                        <div class="user_about">
                            <div class="user_about_text">
                                @Model.AboutSelf
                            </div>
                        </div>
                        <div class="edit_button_box">
                            &#8203;
                            <img src="#" alt="pic" class="user_edit">
                        </div>
                    </div>
                </div>

                <div class="user_block block_progress">
                    <div class="block_content">
                        <h1>Успехи:</h1>
                        <div class="separator"></div>
                        <div class="languages">
                            <div class="language">
                                <table class="language_content">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3"><img src="../../assets/white.png" alt="logo" class="language_logo_round"></td>
                                            <td class="language_name language_item language_info">ЯЗЫК</td>
                                            <td class="language_certification_title language_item language_certification">Сертификат выдан:</td>
                                            <td class="language_details" rowspan="3"><button class="see_details_btn">Подробнее >></button></td>
                                        </tr>
                                        <tr>
                                            <td class="language_level language_item language_info" rowspan="2">А2</td>
                                            <td class="language_certification_date language_item language_certification" rowspan="2">01.01.1970 00:00</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="language">
                                <table class="language_content">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3"><img src="../../assets/white.png" alt="logo" class="language_logo_round"></td>
                                            <td class="language_name language_item language_info">ЯЗЫК</td>
                                            <td class="language_certification_title language_item language_certification">Сертификат выдан:</td>
                                            <td class="language_details" rowspan="3"><button class="see_details_btn">Подробнее >></button></td>
                                        </tr>
                                        <tr>
                                            <td class="language_level language_item language_info" rowspan="2">А2</td>
                                            <td class="language_certification_date language_item language_certification" rowspan="2">01.01.1970 00:00</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="language">
                                <table class="language_content">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3"><img src="../../assets/white.png" alt="logo" class="language_logo_round"></td>
                                            <td class="language_name language_item language_info">ЯЗЫК</td>
                                            <td class="language_certification_title language_item language_certification">Сертификат выдан:</td>
                                            <td class="language_details" rowspan="3"><button class="see_details_btn">Подробнее >></button></td>
                                        </tr>
                                        <tr>
                                            <td class="language_level language_item language_info" rowspan="2">А2</td>
                                            <td class="language_certification_date language_item language_certification" rowspan="2">01.01.1970 00:00</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="languages_footer">
                            <button class="see_all_btn">ПОСМОТРЕТЬ ВСЕ</button>
                        </div>
                    </div>
                </div>
                <div class="user_block block_friendlist">
                    <div class="block_content">
                        <h1>Друзья:</h1>
                        <div class="separator"></div>
                        <div class="friends">
                            <div class="friend">
                                <div class="friend_content">
                                    <img src="../../assets/white.png" alt="logo" class="friend_avatar">
                                    <div class="friend_username">%usernameusername%</div>
                                </div>
                            </div>
                            <div class="friend">
                                <div class="friend_content">
                                    <img src="../../assets/white.png" alt="logo" class="friend_avatar">
                                    <div class="friend_username">%usernameusername%</div>
                                </div>
                            </div>
                            <div class="friend">
                                <div class="friend_content">
                                    <img src="../../assets/white.png" alt="logo" class="friend_avatar">
                                    <div class="friend_username">%usernameusername%</div>
                                </div>
                            </div>
                            <div class="friends_footer">
                                <button class="see_all_btn">ВСЕ ДРУЗЬЯ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="user_sources owner">
                <img src="~/files/UserResources/@Model.BannerURL" alt="banner" class="top_banner">
                <img src="/files/UserResources/@Model.AvatarURL" alt="logo" class="top_avatar">
            </div>

            <div class="container">
                <div class="user_block block_about">
                    <div class="block_content">
                        <h1>О %user%</h1>
                        <div class="separator"></div>
                        <h2 class="user_property">Страна: @Model.Country</h2>
                        <h2 class="user_property">Город: @Model.City</h2>
                        <h2 class="user_property">Учит языки: @Model.LearningLanguages</h2>
                        <h2 class="user_property">Носитель языков: @Model.NativeLanguages</h2>
                        <h2 class="user_property">Возраст: @Model.Age</h2>
                        <h2 class="user_property">О себе:</h2>
                        <div class="user_about">
                            <div class="user_about_text">
                                @Model.AboutSelf
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user_block block_progress">
                    <div class="block_content">
                        <h1>Успехи:</h1>
                        <div class="separator"></div>
                        <div class="languages">
                            <div class="language">
                                <table class="language_content">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3"><img src="../../assets/white.png" alt="logo" class="language_logo_round"></td>
                                            <td class="language_name language_item language_info">ЯЗЫК</td>
                                            <td class="language_certification_title language_item language_certification">Сертификат выдан:</td>
                                            <td class="language_details" rowspan="3"><button class="see_details_btn">Подробнее >></button></td>
                                        </tr>
                                        <tr>
                                            <td class="language_level language_item language_info" rowspan="2">А2</td>
                                            <td class="language_certification_date language_item language_certification" rowspan="2">01.01.1970 00:00</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="language">
                                <table class="language_content">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3"><img src="../../assets/white.png" alt="logo" class="language_logo_round"></td>
                                            <td class="language_name language_item language_info">ЯЗЫК</td>
                                            <td class="language_certification_title language_item language_certification">Сертификат выдан:</td>
                                            <td class="language_details" rowspan="3"><button class="see_details_btn">Подробнее >></button></td>
                                        </tr>
                                        <tr>
                                            <td class="language_level language_item language_info" rowspan="2">А2</td>
                                            <td class="language_certification_date language_item language_certification" rowspan="2">01.01.1970 00:00</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="language">
                                <table class="language_content">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3"><img src="../../assets/white.png" alt="logo" class="language_logo_round"></td>
                                            <td class="language_name language_item language_info">ЯЗЫК</td>
                                            <td class="language_certification_title language_item language_certification">Сертификат выдан:</td>
                                            <td class="language_details" rowspan="3"><button class="see_details_btn">Подробнее >></button></td>
                                        </tr>
                                        <tr>
                                            <td class="language_level language_item language_info" rowspan="2">А2</td>
                                            <td class="language_certification_date language_item language_certification" rowspan="2">01.01.1970 00:00</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="languages_footer">
                            <button class="see_all_btn">ПОСМОТРЕТЬ ВСЕ</button>
                        </div>
                    </div>
                </div>
                <div class="user_block block_friendlist">
                    <div class="block_content">
                        <h1>Друзья:</h1>
                        <div class="separator"></div>
                        <div class="friends">
                            <div class="friend">
                                <div class="friend_content">
                                    <img src="../../assets/white.png" alt="logo" class="friend_avatar">
                                    <div class="friend_username">%usernameusername%</div>
                                </div>
                            </div>
                            <div class="friend">
                                <div class="friend_content">
                                    <img src="../../assets/white.png" alt="logo" class="friend_avatar">
                                    <div class="friend_username">%usernameusername%</div>
                                </div>
                            </div>
                            <div class="friend">
                                <div class="friend_content">
                                    <img src="../../assets/white.png" alt="logo" class="friend_avatar">
                                    <div class="friend_username">%usernameusername%</div>
                                </div>
                            </div>
                            <div class="friends_footer">
                                <button class="see_all_btn">ВСЕ ДРУЗЬЯ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <script type="text/javascript" src="~/js/profile.js"></script>
</body>
</html>