@model LingvaApp.Models.PublishedArticle
@{ Layout = null; } 

<html>
<head>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="../../css/header.css" asp-append-version="true">
    <link rel="stylesheet" href="../../css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="../../css/articles/article.css" asp-append-version="true" />
</head>
<body onload="load_likes(@Model.ArticleID)">
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <div class="article_content inner">

            <header class="article_header">
                <div class="article_author">
                    @if (string.IsNullOrWhiteSpace(Model.AuthorAvatarURL))
                    {
                        <img src="../../assts/default_avatar.png" alt="pfp" class="author_avatar">
                    }
                    else
                    {
                        <img src="@Model.AuthorAvatarURL" alt="pfp" class="author_avatar">
                    }
                    <span class="author_name">@Model.AuthorUsername</span>
                </div>
                <div class="article_date">@Model.CreationDate</div>
            </header>

            <h1 class="title">@Model.Title</h1>

            @Html.Raw(Model.Content)

            <footer class="article_footer">
                <div class="reactions">
                    <div class="reaction r_like">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <img src="~/assets/like_black.svg" id="like_icon" class="" onclick="add_like(@Model.ArticleID)">
                            <span id="likes">0</span>
                        }
                        else
                        {
                            <img src="~/assets/like_black.svg" id="like_icon" class="" onclick="add_like(@Model.ArticleID)">
                            <span id="likes">0</span>
                        }
                    </div>
                </div>
            </footer>

        </div>
        <div class="usercard inner">
            <div class="author">
                <img src="assets/black.png" alt="pfp" class="author_avatar">
                <span class="author_name">@Model.AuthorUsername</span>
            </div>
            <div class="about">User biography, for example he is learning math at Harvard university and learns japaneese qwertyuio</div>
            <div class="follow"><button>FOLLOW</button></div>
        </div>
        <div class="comments inner">
            <div class="comment">
                <header class="comment_header">
                    <div class="comment_author">
                        <img src="assets/black.png" alt="pfp" class="comment_avatar">
                        <span class="comment_name">Author Username</span>
                    </div>
                    <div class="comment_date">Today 18:46</div>
                </header>
                <div class="comment_content">
                    <a href="index.html" class="mention">Username</a>, Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsum culpa totam maxime earum nemo, alias quaerat eos mollitia aperiam sed itaque expedita dolorem cumque? Odit ullam officia reprehenderit inventore!
                    Aperiam sint sequi doloremque explicabo, omnis at ipsa et sed blanditiis quae consequuntur commodi necessitatibus exercitationem numquam delectus earum quo dolorem. Doloremque pariatur recusandae eveniet ratione veniam cum commodi accusantium.
                    Molestiae voluptates ea illum veritatis totam corporis, molestias debitis pariatur ab sunt ipsam quibusdam mollitia quidem consequatur voluptatibus cumque esse sapiente quo error. Maiores fugit dolorem distinctio necessitatibus pariatur blanditiis.
                </div>
                <div class="comment_footer">
                    <div class="rating">+3</div>
                    <div class="answer_link"><button>Ответить</button></div>
                </div>
            </div>
            <div class="comment">
                <header class="comment_header">
                    <div class="comment_author">
                        <img src="assets/black.png" alt="pfp" class="comment_avatar">
                        <span class="comment_name">Author Username</span>
                    </div>
                    <div class="comment_date">Today 18:46</div>
                </header>
                <div class="comment_content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsum culpa totam maxime earum nemo, alias quaerat eos mollitia aperiam sed itaque expedita dolorem cumque? Odit ullam officia reprehenderit inventore!
                    Aperiam sint sequi doloremque explicabo, omnis at ipsa et sed blanditiis quae consequuntur commodi necessitatibus exercitationem numquam delectus earum quo dolorem. Doloremque pariatur recusandae eveniet ratione veniam cum commodi accusantium.
                    Molestiae voluptates ea illum veritatis totam corporis, molestias debitis pariatur ab sunt ipsam quibusdam mollitia quidem consequatur voluptatibus cumque esse sapiente quo error. Maiores fugit dolorem distinctio necessitatibus pariatur blanditiis.
                </div>
                <div class="comment_footer">
                    <div class="rating">+3</div>
                    <div class="answer_link"><button>Ответить</button></div>
                </div>
            </div>
            <div class="comment answer">
                <header class="comment_header">
                    <div class="comment_author">
                        <img src="assets/black.png" alt="pfp" class="comment_avatar">
                        <span class="comment_name">Author Username</span>
                    </div>
                    <div class="comment_date">Today 18:46</div>
                </header>
                <div class="comment_content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsum culpa totam maxime earum nemo, alias quaerat eos mollitia aperiam sed itaque expedita dolorem cumque? Odit ullam officia reprehenderit inventore!
                    Aperiam sint sequi doloremque explicabo, omnis at ipsa et sed blanditiis quae consequuntur commodi necessitatibus exercitationem numquam delectus earum quo dolorem. Doloremque pariatur recusandae eveniet ratione veniam cum commodi accusantium.
                    Molestiae voluptates ea illum veritatis totam corporis, molestias debitis pariatur ab sunt ipsam quibusdam mollitia quidem consequatur voluptatibus cumque esse sapiente quo error. Maiores fugit dolorem distinctio necessitatibus pariatur blanditiis.
                </div>
                <div class="comment_footer">
                    <div class="rating">+3</div>
                    <div class="answer_link"><button>Ответить</button></div>
                </div>
            </div>
            <div class="comment answer">
                <header class="comment_header">
                    <div class="comment_author">
                        <img src="assets/black.png" alt="pfp" class="comment_avatar">
                        <span class="comment_name">Author Username</span>
                    </div>
                    <div class="comment_date">Today 18:46</div>
                </header>
                <div class="comment_content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsum culpa totam maxime earum nemo, alias quaerat eos mollitia aperiam sed itaque expedita dolorem cumque? Odit ullam officia reprehenderit inventore!
                    Aperiam sint sequi doloremque explicabo, omnis at ipsa et sed blanditiis quae consequuntur commodi necessitatibus exercitationem numquam delectus earum quo dolorem. Doloremque pariatur recusandae eveniet ratione veniam cum commodi accusantium.
                    Molestiae voluptates ea illum veritatis totam corporis, molestias debitis pariatur ab sunt ipsam quibusdam mollitia quidem consequatur voluptatibus cumque esse sapiente quo error. Maiores fugit dolorem distinctio necessitatibus pariatur blanditiis.
                </div>
                <div class="comment_footer">
                    <div class="rating">+3</div>
                    <div class="answer_link"><button>Ответить</button></div>
                </div>
            </div>
        </div>
    
        <script src="~/js/load_reactions.js"></script>
    </div>
</body>
</html>