@model LingvaApp.Models.PendingArticle
@{
    Layout = null;
    List<string> levels = new List<string>() {"A1", "A2", "B1", "B2", "C1", "C2" };
    List<string> langs = new List<string>() { "Русский", "Английский", "Немецкий"};
    string errors = ViewBag.ErrorMessage;
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tiny.cloud/1/m6abbhtppjbwiaolzcuwvn4i0mtd4mf7rk8nfjp9541dqo0b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea.mce",
            plugins: 'lists link advlist autolink autosave charmap autosave codesample image wordcount',
            toolbar: 'undo redo | bold italic underline strikethrough superscript subscript | h1 h2 h3 p | numlist bullist | removeformat | image link codesample | restoredraft wordcount',
            default_link_target: "_blank",
            menubar: false
        });
    </script>
    <form method="post" asp-controller="Articles" asp-action="CreatePost" enctype="multipart/form-data" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        @Html.TextBoxFor(m => m.Title)
        @Html.TextAreaFor(m => m.Description)
        @Html.TextAreaFor(m => m.Content, new { @class = "mce" })
        @Html.TextBoxFor(m => m.ThumbnailPicture, new { type = "file" })
        @Html.DropDownListFor(m => m.Level, new SelectList(levels), "Выберите уровень:")
        @Html.DropDownListFor(m => m.Language, new SelectList(langs), "Выберите язык:")
        @Html.TextBoxFor(m => m.Tags)
        <input type="submit" value="Сохранить черновик" />
        <div class="errors">
            <div><span asp-validation-for="Title"></span></div>
            <div><span asp-validation-for="Description"></span></div>
            <div><span asp-validation-for="Content"></span></div>
            <div><span asp-validation-for="Language"></span></div>
            <div><span asp-validation-for="Level"></span></div>
            <div><span asp-validation-for="Tags"></span></div>
            @errors
        </div>
    </form>
    
</body>
</html>