@model List<LingvaApp.Models.PublishedArticle>
@{ Layout = null; }

<html>
<head>
    <title>Article section</title>
    <link rel="stylesheet" href="../../css/articles/articles.css" asp-append-version="true" />
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../../css/articles/feed.css" asp-append-version="true" />
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="search_bar">
        <input id="search_language" placeholder="ЯЗЫК:" />
        <input id="search_level" placeholder="УРОВЕНЬ:" />
        <input id="search_author" placeholder="АВТОР:" />
        <input id="search_keywords" placeholder="СЛОВА:" />
        <button style="cursor: pointer;"><img src="assets/white.png" class="search_btn" /></button>
    </div>

    @Html.ActionLink("УПРАВЛЕНИЕ", "Pendings")

<div class="articles">
    @foreach (PublishedArticle item in Model)
    {
    <div class="article">
        <div class="article_header padding">
            <a href="profile">
                <div style="display: flex;align-items: center;">
                    <img src="@item.AuthorAvatarURL" class="article_authorPFP">
                    <div class="article_author">@item.AuthorUsername</div>
                </div>
            </a>
            <a href="~/Articles/Article?id=@item.ArticleID"><div class="article_info">@item.Level, @item.Language. @item.CreationDate</div></a>
        </div>

        <a href="~/Articles/Article?id=@item.ArticleID"><h3 class="article_title padding">@item.Title</h3></a>

        <div class="article_cover">
            <img src="@item.ThumbnailURL" alt="cover" class="cover">
        </div>

        <div class="article_description padding">@item.Description</div>

        <div class="article_footer padding">
            <div class="article_reactions">
                <div class="reaction">
                    <img src="assets/white.png" alt="Rating" class="reaction_img"><span>+53</span>
                </div>
                <div class="reaction">
                    <img src="assets/white.png" alt="Views" class="reaction_img"><span>201</span>
                </div>
                <div class="reaction">
                    <img src="assets/white.png" alt="Comments" class="reaction_img"><span>14</span>
                </div>
                <div class="reaction">
                    <img src="assets/white.png" alt="Bookmarks" class="reaction_img"><span>2</span>
                </div>
            </div>
            <div><button class="article_expand" onclick="@($"window.location.href='{Url.Action("Article", "Articles", new { id = item.ArticleID })}';")">Read more...</button></div>
        </div>
    </div>
    }
</div>
<button id="new_article" class="new_article btn" onclick="@($"window.location.href='{Url.Action("New", "Articles")}';")">
    <img class="img_btn_inner" src="~/assets/chat.png">
</button>
</body>
</html>

@*<script type="text/javascript">
        function get_filtered_articles() {
            var search_language = document.getElementById("search_language").value;
            var search_level = document.getElementById("search_level").value;
            var search_author = document.getElementById("search_author").value;
            var search_tags = document.getElementById("search_tags").value;
            var search_keywords = document.getElementById("search_keywords").value;
            console.log(search_language, search_level, search_author, search_tags, search_keywords)
            $.ajax({
                type: "POST",
                url: "/Articles/ReturnFilteredArticles",
                data: {
                    language: search_language,
                    level: search_level,
                    author: search_author,
                    tags: search_tags,
                    keywords: search_keywords
                },
                dataType: "json",
                error: function (data) {
                    alert("Error " + data)
                }
            });
        }
    </script>*@