@model List<LingvaApp.Models.PublishedArticle>
@{ 
    Layout = null;
    
}

<html>
<head>
    <title>Article section</title>
    <link rel="stylesheet" href="../../css/articles/articles.css" asp-append-version="true" />
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../../css/articles/feed.css" asp-append-version="true" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <form id="search_bar" class="search_bar">
        <select id="search_language">
            <option value="">Любой</option>
            <option value="Русский">Русский</option>
            <option value="Английский">Английский</option>
            <option value="Немецкий">Немецкий</option>
        </select>
        <select id="search_level">
            <option value="">Любой</option>
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
        </select>
        <input id="search_author" placeholder="АВТОР:" />
        <input id="search_keywords" placeholder="СЛОВА:" />
        <button onclick="filter_articles()" type='button' style="cursor: pointer;"><img src="assets/white.png" class="search_btn" /></button>
    </form>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        @Html.ActionLink("УПРАВЛЕНИЕ", "Pendings")
    }

    <div id="articles" class="articles">
        @foreach (PublishedArticle item in Model)
        {
            <div class="article">
                <div class="article_header padding">
                    <a href="profile">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets//default_avatar.png" alt="pfp" class="author_avatar">                           
                            <div class="article_author">@item.AuthorUsername</div>
                        </div>
                    </a>
                    <a href="~/Articles/Article?id=@item.ArticleID"><div class="article_info">@item.Level, @item.Language. @item.CreationDate</div></a>
                </div>

                <a href="~/Articles/Article?id=@item.ArticleID"><h3 class="article_title padding">@item.Title</h3></a>

                <div class="article_cover">
                    <img src="/assets/default_banner.jpg" alt="pfp" class="author_banner">
                </div>

                <div class="article_description padding">@item.Description</div>

                <div class="article_footer padding">
                    <div class="article_reactions">
                        <div class="reaction">
                            <img src="~/assets/like_black.svg" alt="Rating" class="reaction_img"><span>6</span>
                        </div>
                    </div>
                    <div><button class="article_expand" onclick="@($"window.location.href='{Url.Action("Article", "Articles", new { id = item.ArticleID })}';")">Read more...</button></div>
                </div>
            </div>
        }
    </div>
    <button id="new_article" class="new_article btn" onclick="@($"window.location.href='{Url.Action("New", "Articles")}';")">
        <img class="img_btn_inner" src="~/assets/chat.png">
    </button>
    <script src="~/js/load_filter.js" type="text/javascript"></script>
    <script src="~/js/load_bottom.js" type="text/javascript"></script>
</body>
</html>