@model LingvaApp.ViewModels.TaskFields
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/admin_css/edit_task_fields.css">
    <title>Document</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <h1 class="title">РЕДАКТИРОВАНИЕ ЗАДАНИЯ</h1>
        <form class="form" method="post" asp-controller="LessonCreate" asp-action="EditTaskFieldsPost">
            <div class="field_container">
                @Html.HiddenFor(m => m.Task.LanguageParent, Model.Task.LanguageParent)
                @Html.HiddenFor(m => m.Task.TaskID, Model.Task.TaskID)
                @Html.HiddenFor(m => m.Task.ThemeParentID, Model.Task.ThemeParentID)
                @Html.HiddenFor(m => m.Task.TaskType, Model.Task.TaskType)
                @Html.HiddenFor(m => m.Task.TextFieldContent, Model.Task.TextFieldContent)
                <label class="field_item primary" asp-for="Field.TaskContent">Текст</label>
                <textarea class="input_field" type="text" asp-for="Field.TaskContent"></textarea>
                <label class="field_item secondary" asp-for="Field.AnswersAliases">Правильный ответ</label>
                <input class="input_field" type="text" asp-for="Field.AnswersAliases">
                <div class="button_container field_item">
                    <input type="submit" class="save_field_btn" value="Далее" />
                    @*<button >Сохранить</button>*@
                </div>
            </div>
        </form>
        <div class="navigation_buttons">
            <button class="navigation_button">ДОБАВИТЬ</button>
            <button class="navigation_button">НАЗАД</button>
        </div>
    </div>
    @*<script>
        let div = document.createElement('div');
        div.className = "msg";
        div.innerHTML = "Important";

        document.body.append(div);
    </script>*@
</body>
</html>